
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Климато-экологический мониторинга</title>
    <link rel="stylesheet" href="~/Content/new_index.css">
</head>
<body>
    <div class="solve">
        <div class="top">
            <h1>Программный комплекс климато-экологического мониторинга</h1>
        </div>
        <div class="content_1">
            <h3><a href="~/Home/Solve">Расчетный блок</a></h3>
        </div>
        <div class="content_2">
            <h3><a href="~/Mapan/GetFile1">Поиск смещения центра</a></h3>
        </div>
        <div class="content_3">
            <h3><a href="~/Home/Fileupload2">Корреляционный анализ</a></h3>
        </div>
        <div class="content_4">
            <h3><a href="~/Home/Fileupload">Регрессионный анализ</a></h3>
        </div>
        
        <div class="bottom">
            <p class="gradient">Работа выполнена совместно с ИМКЭС СО РАН г. Томск, 2020 г.</p>
        </div>
    </div>


</body>
</html>